@import '@style/mixins';

.workCardItem {
  > *:not(:first-child) {
    margin-top: 6px;
  }
  .workCardItem_thumbnail {
    position: relative;
    display: flex;
    img {
      width: 100%;
      aspect-ratio: 16/9;
      object-fit: cover;
      border-radius: 4px;
      filter: contrast(0.9);
    }
  }
  .workCardItem_imageTag {
    position: absolute;
    right: 8px;
    bottom: 8px;
    padding: 2px 4px;
    border-radius: 4px;
    font-size: var(--font-tiny);
    box-shadow: 0 0 2px;
    background-color: #222;
    color: #c7c7c7;

    &[class~='isLive'] {
      color: #47ffc2;
    }

    @include isMobileOrLessWidth() {
      font-size: var(--font-micro);
    }
  }
  .workCardItem_meta {
    font-size: var(--font-small);
    color: var(--color-gray);
    margin-top: 2px;
  }
  .workCardItem_description {
    line-height: 1.4;
  }
}
