.workTitle {
  > *:not(:first-child) {
    margin-top: 16px;
  }

  .workTitle_createdAt {
    font-size: var(--font-small);
    color: var(--color-gray);
    margin-top: 4px;
  }

  .workTitle_description {
    line-height: 1.4;
    // color: var(--color-grayStrong);
  }

  .workTitle_link {
    font-size: var(--font-small);
    &:not(:first-child) {
      margin-top: 6px;
    }

    a {
      color: var(--color-primary);
    }
  }
}
