@import '@style/variables';

.workCardItem {
  .workCardItem_thumbnail {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 4px;
    filter: contrast(0.9);
  }
  .workCardItem_meta {
    font-size: $font-regular;
    color: $color-gray;
    margin-top: 2px;
  }
  .workCardItem_description {
    line-height: 1.4;
    margin-top: 4px;
  }
}
