.categories {
  display: flex;
  align-items: center;
  flex-flow: wrap;
  gap: 4px 8px;

  .categories_tag {
    font-size: var(--font-small);
    color: var(--color-primary);
    display: flex;
    align-items: center;
    gap: 1px;

    &[class~='selected'] {
      font-weight: var(--font-bold);
    }
  }

  .categories_count {
    font-size: var(--font-tiny);
    color: var(--color-gray);
  }
}
