@import '@style/variables';
@import '@style/mixins';

.postCardItem {
  border-radius: 8px;
  padding: 6px 10px;
  margin: 0 -10px;

  @include isHoverableDivice() {
    &:hover {
      background-color: $color-gray-weakest;
    }
  }

  .postCardItem_title {
    font-size: 18px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 2px;
  }

  .postCardItem_createdAt {
    font-size: $font-small;
    color: $color-gray;
  }
}
