@import '@style/variables';

.postCardItem {
  border-radius: 8px;
  padding: 6px 12px;
  margin: 0 -12px;

  &:hover {
    background-color: $color-gray-weakest;
  }

  .createdAt {
    color: #9da2a5;
  }
}
