@import '@style/variables';
@import '@style/mixins';

.navigationMenuItem {
  font-size: 14px;
  padding: 4px 8px;
  border-radius: 4px;

  @include isHoverableDivice() {
    &:hover {
      background-color: $color-gray-weakest;
    }
  }

  &[class~='selected'] {
    font-weight: 700;
  }
}
