@import '@style/variables';

.goToTopButton_Positioner {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.goToTopButton {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(3px);
}
