@import '@style/variables';
@import '@style/mixins';

.goToTopButton_Positioner {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.goToTopButton {
  position: absolute;
  bottom: 15px;
  right: -30px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(3px);
  border-radius: 4px;

  @include isHoverableDivice {
    background: none;
    &:hover {
      background: $color-gray-weakest;
    }
  }

  @include isTabletOrLessWidth {
    right: 30px;
  }
  @include isMobileOrLessWidth {
    right: 15px;
  }

  @media print {
    display: none;
  }
}
