@import '@style/variables';

.postTitle {
  .postTitle_title {
    margin-bottom: 4px;
  }

  .postTitle_description {
    font-size: $font-regular;
    color: $color-gray-strong;
  }

  .postTitle_tag {
    color: $color-primary;
  }
}
