@import '@style/mixins';

.markdown {
  > *:first-child {
    margin-top: 0;
  }

  h1,
  h2,
  h3 {
    margin: 2em 0 20px;

    /** hash links offset */
    &:before {
      content: '';
      display: block;
      height: calc(2em + var(--header-height));
      margin-top: calc(-2em - var(--header-height));
      visibility: hidden;
    }

    sub {
      vertical-align: baseline;
      font-size: inherit;
      font-weight: 100;
    }
  }

  > div,
  > ul,
  > p,
  > pre,
  > blockquote {
    margin: 18px 0;
  }

  p {
    line-height: 1.6;
    white-space: pre-wrap;
  }

  pre {
    overflow-x: auto;
    overflow-y: visible;
    padding: 20px;
    border-radius: 4px;
    hyphens: none;
    -ms-hyphens: none;
    -moz-hyphens: none;
    -webkit-hyphens: none;
    tab-size: 4;
    -o-tab-size: 4;
    -moz-tab-size: 4;
    background-color: #2f2f2f;

    [data-theme='dark'] & {
      background-color: #1c1c1c;
    }

    code {
      padding: 0;
      background-color: #2f2f2f;

      [data-theme='dark'] & {
        background-color: #1c1c1c;
      }
    }

    @include isMobileOrLessWidth {
      margin-left: -20px;
      margin-right: -20px;
      border-radius: 0;
    }
  }

  code {
    background-color: var(--color-gray-weakest);
    padding: 2px 4px;
    border-radius: 4px;
    hyphens: none;
    -ms-hyphens: none;
    -moz-hyphens: none;
    -webkit-hyphens: none;
    tab-size: 4;
    -o-tab-size: 4;
    -moz-tab-size: 4;
  }

  ul,
  ol {
    padding-left: 24px;
  }

  li {
    line-height: 1.4;
    list-style-type: disc;
    margin-top: 0.25em;
  }

  blockquote {
    padding: 12px 15px;
    border-left: 3px solid var(--color-gray-weaker);
    background-color: var(--color-gray-weakest);
    color: var(--color-grayStrong);

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    strong {
      color: var(--color-grayStronger);
    }

    > *:first-child {
      margin-top: 0;
    }

    > *:last-child {
      margin-bottom: 0;
    }
  }

  p:has(img) {
    border-radius: 4px;
    overflow: hidden;
    display: flex;

    @include isMobileOrLessWidth {
      margin-left: -20px;
      margin-right: -20px;
      border-radius: 0;
    }
  }

  img {
    width: 100%;
    filter: brightness(0.98);
  }

  hr {
    margin: 50px 0;
    border: 1px solid var(--color-gray-weaker);
    border-bottom: 0;
    @include isMobileOrLessWidth {
      margin: 30px 0;
    }
  }

  a {
    color: var(--color-primary);
    &:hover {
      text-decoration: underline;
    }
    :link,
    :visited {
      color: var(--color-primary);
    }
  }

  details {
    &[open] {
      margin-bottom: 40px;
    }
    margin: 4px 0;
    display: block;

    summary {
      position: relative;
      color: var(--color-grayStrong);
      font-weight: 700;
      padding: 6px;
      cursor: pointer;
      border-radius: 4px;
      margin-left: -4px;
      & + * {
        margin-top: 10px;
      }
      &::marker {
        font-size: 0.9em;
        &[open] {
          content: '-';
        }
      }
      &:hover {
        background-color: var(--color-gray-weakest);
      }
    }
  }
}

.markdown-pre {
  position: relative;

  pre {
    padding-right: 70px;
  }

  .markdown-copy-button {
    position: absolute;
    top: 12px;
    right: 12px;
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
  }

  @include isHoverableDivice {
    .markdown-copy-button {
      &:hover {
        background-color: #232325;
      }
    }
  }

  @include isMobileOrLessWidth {
    .markdown-copy-button {
      background-color: #232325;
      right: -4px;
      top: 16px;
    }
  }
}

div.markdown-table {
  margin-top: 30px;
  margin-bottom: 30px;

  @include isMobileOrLessWidth {
    overflow-x: auto;
    padding: 0 20px;
    margin-left: -20px;
    margin-right: -20px;
  }
}

div.markdown-iframe {
  @include isMobileOrLessWidth {
    margin-left: -20px;
    margin-right: -20px;
  }
}
