@import '@style/variables';
@import '@style/mixins';

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Pretendard Variable', Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue',
    'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', sans-serif;
  font-weight: 400;
  color: $color-letter;
  word-break: break-word;
}

code {
  font-family: 'Inconsolata', monospace;
  font-size: 0.9em;
  line-height: 1.4;
}

body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p,
button {
  padding: unset;
  margin: unset;
}

h1 {
  font-size: $font-huge;
}

h2 {
  font-size: $font-big;
}

h3 {
  font-size: $font-large;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $color-letter-strong;
}

li {
  list-style-type: none;
}

strong {
  font-weight: 700;
  color: $color-letter-strong;
}

a {
  color: unset;
  text-decoration: none;
}

.tag {
  margin-right: 0.2em;
  border-radius: 50;
  background-color: #daebf2;
  color: #3e778c;
  padding: 0.2em 0.5em;
  font-size: 15px;
  font-weight: 700;

  &::before {
    content: '# ';
  }

  table {
    border-collapse: collapse;
  }
}

button {
  border: none;
  cursor: pointer;
  font-size: unset;
  font-weight: unset;
  background: unset;
  color: unset;
  font-family: 'Pretendard Variable', Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue',
    'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', sans-serif;
}

table {
  padding: 0;
  border: 0;
  border-spacing: 0px;
  border-collapse: collapse;
  text-align: left;
  font-size: 14px;
  min-width: 400px;

  th,
  td {
    padding: 8px 0 12px;
    padding-right: 16px;
    border-bottom: 1px solid $color-gray-weaker;
    vertical-align: top;
    line-height: 1.4;
  }
  th {
    padding-bottom: 4px;
  }
  td:last-child {
    padding-right: 8px;
  }
}

.utterances_wrapper {
  margin-top: 80px;
  margin-left: -4px;
  margin-right: -4px;

  @include isMobileOrLessWidth {
    margin-left: -14px;
    margin-right: -14px;
  }
}
