@import '@style/variables';
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

body {
  font-family: 'Pretendard Variable', Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue',
    'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', sans-serif;
  font-weight: 400;
  color: $color-letter;
}

code {
  font-family: 'Inconsolata', monospace;
  font-size: 0.9em;
  line-height: 1.4;
}

body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p {
  padding: unset;
  margin: unset;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $color-letter-strong;
}

li {
  list-style-type: none;
}

strong {
  font-weight: 700;
  color: $color-letter-strong;
}

a {
  color: unset;
  text-decoration: none;
}

.tag {
  margin-right: 0.2em;
  border-radius: 50;
  background-color: #daebf2;
  color: #3e778c;
  padding: 0.2em 0.5em;
  font-size: 15px;
  font-weight: 700;

  &::before {
    content: '# ';
  }

  table {
    border-collapse: collapse;
  }
}
