$light-theme: (
  primary: #3e778c,
  letter-strong: #333,
  letter: #5a5a5a,
  bg: #fff,
  gray-stronger: #61656c,
  gray-strong: #929699,
  gray: #b1b6ba,
  gray-weaker: #dddde1,
  gray-weakest: #f8f9f9,
);

$font-sizes: (
  huge: 32px,
  big: 26px,
  large: 20px,
  medium: 18px,
  regular: 16px,
  small: 14px,
  tiny: 12px,
  micro: 11px,
);

$font-weights: (
  bold: 700,
  normal: 400,
  thin: 100,
);

:root {
  @each $key, $value in $light-theme {
    #{"--color-" + $key}: #{$value};
  }

  @each $key, $value in $font-sizes {
    #{"--font-" + $key}: #{$value};
  }

  @each $key, $value in $font-weights {
    #{"--font-" + $key}: #{$value};
  }
}
