@import '@style/variables';

:export {
  primary: $color-primary;
  letterStrong: $color-letter-strong;
  letter: $color-letter;
  bg: $color-bg;
  grayStronger: $color-gray-stronger;
  grayStrong: $color-gray-strong;
  gray: $color-gray;
  grayWeaker: $color-gray-weaker;
  grayWeakest: $color-gray-weakest;
}
