// theme colors
$color-primary: var(--color-primary);
$color-letter-strong: var(--color-letter-strong);
$color-letter: var(--color-letter);
$color-bg: var(--color-bg);
$color-gray-stronger: var(--color-gray-stronger);
$color-gray-strong: var(--color-gray-strong);
$color-gray: var(--color-gray);
$color-gray-weaker: var(--color-gray-weaker);
$color-gray-weakest: var(--color-gray-weakest);
$color-glass: var(--color-glass);

// theme font sizes
$font-huge: var(--font-huge);
$font-big: var(--font-big);
$font-large: var(--font-large);
$font-medium: var(--font-medium);
$font-regular: var(--font-regular);
$font-small: var(--font-small);
$font-tiny: var(--font-tiny);
$font-micro: var(--font-micro);

// theme font weights
$font-bold: var(--font-bold);
$font-normal: var(--font-normal);
$font-thin: var(--font-thin);

// others
$header-height: var(--header-height);

// break-points
// 0 -- mobile -- 1 -- tablet -- 2 -- desktop -- ...
$bp-1: 566px;
$bp-2: 768px;
