@import '@style/variables';
@import '@style/mixins';

.copyableContent {
  position: relative;
  cursor: pointer;

  @include isTabletOrLessWidth() {
    $icon-size: 14px;

    .copyableContent_box {
      position: absolute;
      right: #{- $icon-size - 4px};
      transform: translateY(-12%);
    }

    .copyableContent_button {
      svg {
        width: $icon-size;
        height: $icon-size;
        [class~='regularStroke'] {
          stroke: $color-gray-weaker;
        }
      }
    }
  }

  @include isDesktopOrMoreWidth() {
    $button-size: 32px;

    .copyableContent_box {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: #{-$button-size - 4px};
      width: #{$button-size + 4px};
      height: $button-size;

      &[class~='hoverable'] {
        display: none;
      }
    }

    &:hover .copyableContent_box[class~='hoverable'] {
      display: inline;
    }

    .copyableContent_button {
      width: $button-size;
      height: $button-size;
      border-radius: 8px;
      display: flex;
      justify-content: center;
      align-items: center;

      &[class~='clickable']:hover {
        background-color: $color-gray-weakest;
      }
    }
  }
}
