@import '@style/variables';
@import '@style/mixins';

.copyableContent {
  position: relative;
  cursor: pointer;

  @include isTabletOrLessWidth() {
    .copyableContent_box {
      margin-left: 4px;
    }

    .copyableContent_button {
      svg {
        width: 14px;
        height: 14px;
        vertical-align: super;
        [class~='regularStroke'] {
          stroke: $color-gray-weaker;
        }
      }
    }
  }

  @include isDesktopOrMoreWidth() {
    .copyableContent_box {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -40px;
      width: 40px;
      height: 32px;

      &[class~='hoverable'] {
        display: none;
      }
    }

    &:hover .copyableContent_box[class~='hoverable'] {
      display: inline;
    }

    .copyableContent_button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      width: 32px;
      height: 32px;
      border-radius: 8px;
      display: flex;
      justify-content: center;
      align-items: center;

      &[class~='clickable']:hover {
        background-color: $color-gray-weakest;
      }
    }
  }
}
