.postTitle {
  .postTitle_title {
    margin-bottom: 8px;
  }

  .postTitle_description {
    font-size: var(--font-small);
    color: var(--color-gray);
  }

  .postTitle_tag {
    color: var(--color-primary);
  }
}
