@import '@style/variables';

.markdown {
  > *:first-child {
    margin-top: 0;
  }

  h1,
  h2,
  h3 {
    margin: 2em 0 20px;
  }

  div,
  ul,
  p,
  pre {
    margin: 18px 0;
  }

  p {
    line-height: 1.6;
    white-space: pre-wrap;
  }

  pre {
    background-color: $color-gray-weakest;
    overflow-x: auto;
    overflow-y: visible;
    padding: 20px;
    border-radius: 4px;

    code {
      padding: 0;
    }
  }

  code {
    background-color: $color-gray-weakest;
    padding: 2px 4px;
    border-radius: 4px;
  }

  ul,
  ol {
    padding-left: 24px;
  }

  li {
    line-height: 1.4;
    list-style-type: disc;
    margin-top: 0.25em;

    :first-child {
      margin-top: 0.5em;
    }
  }

  blockquote {
    margin: 0;
    padding: 12px 15px;
    border-left: 3px solid $color-gray-weaker;
    background-color: $color-gray-weakest;
    color: $color-gray-strong;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    strong {
      color: $color-gray-stronger;
    }

    > *:first-child {
      margin-top: 0;
    }

    > *:last-child {
      margin-bottom: 0;
    }
  }

  img {
    width: 100%;
  }

  hr {
    margin: 50px 0;
    border: 1px solid $color-gray-weaker;
    border-bottom: 0;
  }

  a {
    color: $color-primary;
    :link,
    :visited {
      color: $color-primary;
    }
  }
}
