@import '@style/variables';
@import '@style/mixins';

.markdown {
  > *:first-child {
    margin-top: 0;
  }

  h1,
  h2,
  h3 {
    margin: 2em 0 20px;

    /** hash links offset */
    &:before {
      content: '';
      display: block;
      height: calc(2em + $header-height);
      margin-top: calc(-2em - $header-height);
      visibility: hidden;
    }
  }

  > div,
  > ul,
  > p,
  > pre,
  > blockquote {
    margin: 18px 0;
  }

  p {
    line-height: 1.6;
    white-space: pre-wrap;
  }

  pre {
    background-color: $color-gray-weakest;
    overflow-x: auto;
    overflow-y: visible;
    padding: 20px;
    border-radius: 4px;
    hyphens: none;
    -ms-hyphens: none;
    -moz-hyphens: none;
    -webkit-hyphens: none;
    tab-size: 4;
    -o-tab-size: 4;
    -moz-tab-size: 4;

    code {
      padding: 0;
    }

    @include isMobileOrLessWidth {
      margin-left: -20px;
      margin-right: -20px;
      border-radius: 0;
    }
  }

  code {
    background-color: $color-gray-weakest;
    padding: 2px 4px;
    border-radius: 4px;
    hyphens: none;
    -ms-hyphens: none;
    -moz-hyphens: none;
    -webkit-hyphens: none;
    tab-size: 4;
    -o-tab-size: 4;
    -moz-tab-size: 4;
  }

  ul,
  ol {
    padding-left: 24px;
  }

  li {
    line-height: 1.4;
    list-style-type: disc;
    margin-top: 0.25em;
  }

  blockquote {
    padding: 12px 15px;
    border-left: 3px solid $color-gray-weaker;
    background-color: $color-gray-weakest;
    color: $color-gray-strong;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    strong {
      color: $color-gray-stronger;
    }

    > *:first-child {
      margin-top: 0;
    }

    > *:last-child {
      margin-bottom: 0;
    }
  }

  p:has(img) {
    border-radius: 4px;
    overflow: hidden;
    display: flex;

    @include isMobileOrLessWidth {
      margin-left: -20px;
      margin-right: -20px;
      border-radius: 0;
    }
  }

  img {
    width: 100%;
    filter: brightness(0.98);
  }

  hr {
    margin: 50px 0;
    border: 1px solid #f3f3f6;
    border-bottom: 0;
  }

  a {
    color: $color-primary;
    :link,
    :visited {
      color: $color-primary;
    }
  }
}

.overridePre {
  position: relative;

  .copyButton {
    position: absolute;
    top: 12px;
    right: 12px;
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
  }
  @include isHoverableDivice {
    .copyButton {
      &:hover {
        background-color: #424242;
      }
    }
  }

  @include isMobileOrLessWidth {
    pre {
      padding-right: 70px;
    }

    .copyButton {
      background-color: #424242;
      right: -4px;
      top: 17px;
    }
  }
}

div.overrideTable {
  margin-bottom: 30px;

  @include isMobileOrLessWidth {
    overflow-x: auto;
    padding: 0 20px;
    margin-left: -20px;
    margin-right: -20px;
  }
}
