@import '@style/mixins';

.header {
  position: sticky;
  top: 0;
  z-index: 1;
  background: var(--color-glass);
  backdrop-filter: blur(5px);

  .header_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  nav {
    height: var(--header-height);
    display: flex;
    align-items: center;
  }

  &.scrolled {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
  }

  @include isMobileOrLessWidth() {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
  }

  @media print {
    display: none;
  }
}
