@import '@style/variables';
@import '@style/mixins';

.header {
  position: sticky;
  top: 0;
  background: rgba(255, 255, 255, 0.8);
  z-index: 1;
  backdrop-filter: blur(5px);

  .header_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  nav {
    height: $header-height;
    display: flex;
    align-items: center;
  }

  &.scrolled {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
  }

  @include isMobileOrLessWidth() {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
  }

  @media print {
    display: none;
  }
}
