.markdownTOC {
  font-size: 13px;
  color: var(--color-gray);

  ul ul {
    margin-left: 20px;
  }

  a {
    text-decoration: underline;
  }

  li {
    margin: 8px 0;
  }

  @media print {
    display: none;
  }
}
